In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/anova_sample.txt", sep = "\t")

In [3]:
df

       A\tB\tC\tD
0  25\t45\t30\t54
1  30\t55\t29\t60
2  28\t29\t33\t51
3  36\t56\t37\t62
4  29\t40\t27\t73